<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Edit Category</title>
  <link rel="shortcut icon" type="image/png" href="../Admin/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="../Admin/assets/css/styles.min.css" />
  <style>
    .msg-box .msg-para {
        color: red; 
    }
  </style>
</head>
<body>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
    <%- include('../partials/admin/sidebar.ejs') %>
    <div class="body-wrapper">
      <%- include('../partials/admin/header.ejs') %>
      <div class="page-wrapper">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <form action="/admin/category-edit/<%= category._id %>" method="post">
                <div class="mb-3">
                  <br><br>
                  <h4>Edit Category</h4>
                  <label for="categoryName" class="form-label">Category Name</label>
                  <!-- Pre-fill the input with the existing category name -->
                  <input type="text" class="form-control" id="categoryName" name="name" style="width: 50%;" value="<%= category.name %>" required>
                </div>
                <div class="mb-3">
                  <label for="categoryDescription" class="form-label">Description</label>
                  <!-- Pre-fill the input with the existing category description -->
                  <input type="text" class="form-control" id="categoryDescription" style="width: 60%;" name="description" value="<%= category.description %>" required>
                </div>
                <button type="submit" class="btn btn-primary">Update Category</button>
                
                <% if (typeof message !== 'undefined') { %>
                  <div class="msg-box">
                    <p class="msg-para"><%= message %></p>
                  </div>
                <% } %>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../Admin/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../Admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../Admin/assets/js/sidebarmenu.js"></script>
  <script src="../Admin/assets/js/app.min.js"></script>
  <script src="../Admin/assets/libs/simplebar/dist/simplebar.js"></script>
</body>
</html>
