
<style>
  #submit-button {
    width: 20%;
    background-color: #6f42c1;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  #submit-button:hover {
    background-color: #5a2a8d;
  }
  
  .error-message {
    color: red;
    font-size: 0.875em;
  }
</style>
<div class="col-12">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <% if (typeof breadcrumbs !== 'undefined') { %>
        <% breadcrumbs.forEach((crumb, index) => { %>
          <% if (index < breadcrumbs.length - 1) { %>
            <li class="breadcrumb-item"><a href="<%= crumb.url %>"><%= crumb.name %></a></li>
          <% } else { %>
            <li class="breadcrumb-item active" aria-current="page"><%= crumb.name %></li>
          <% } %>
        <% }) %>
      <% } %>
    </ol>
  </nav>
</div>

<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-lg-8">
      <h5 class="section-title position-relative text-uppercase mb-3">
        <span class="bg-secondary pr-3">Address</span>
      </h5>
      <div class="bg-light p-30 mb-5">
        <form action="/add-address" method="POST">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="firstname">First Name</label>
              <input class="form-control" type="text" placeholder="John" name="firstname" value="<%= typeof firstname !== 'undefined' ? firstname : '' %>"  />
              <% if (typeof errors !== 'undefined' && errors.firstname) { %>
                <p class="error-message"><%= errors.firstname %></p>
              <% } %>
            </div>
            <div class="col-md-6 form-group">
              <label for="lastname">Last Name</label>
              <input class="form-control" type="text" placeholder="Doe" name="lastname" value="<%= typeof lastname !== 'undefined' ? lastname : '' %>"  />
              <% if (typeof errors !== 'undefined' && errors.lastname) { %>
                <p class="error-message"><%= errors.lastname %></p>
              <% } %>
            </div>
            <div class="col-md-6 form-group">
              <label for="mobile">Mobile No</label>
              <input class="form-control" type="tel" placeholder="+123 456 789" name="mobile" value="<%= typeof mobile !== 'undefined' ? mobile : '' %>" />
              <% if (typeof errors !== 'undefined' && errors.mobile) { %>
                <p class="error-message"><%= errors.mobile %></p>
              <% } %>
            </div>
            <div class="col-md-6 form-group">
              <label for="pincode">ZIP Code</label>
              <input class="form-control" type="text" placeholder="123456" name="pincode" value="<%= typeof pincode !== 'undefined' ? pincode : '' %>"  />
              <% if (typeof errors !== 'undefined' && errors.pincode) { %>
                <p class="error-message"><%= errors.pincode %></p>
              <% } %>
            </div>
            <div class="col-md-6 form-group">
              <label for="street">Street</label>
              <input class="form-control" type="text" placeholder="Street" name="street" value="<%= typeof street !== 'undefined' ? street : '' %>" />
              <% if (typeof errors !== 'undefined' && errors.street) { %>
                <p class="error-message"><%= errors.street %></p>
              <% } %>
            </div>
            <div class="col-md-6 form-group">
              <label for="city">City</label>
              <input class="form-control" type="text" placeholder="City" name="city" value="<%= typeof city !== 'undefined' ? city : '' %>"  />
              <% if (typeof errors !== 'undefined' && errors.city) { %>
                <p class="error-message"><%= errors.city %></p>
              <% } %>
            </div>
            <div class="col-md-6 form-group">
              <label for="state">State</label>
              <select class="form-control" name="state" id="address-sta" >
                <option value="Kerala">Kerala</option>
                <option value="TamilNadu">TamilNadu</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Bihar">Bihar</option>
                <option value="Goa">Goa</option>
                <option value="Punjab">Punjab</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="West Bengal">West Bengal</option>
              </select>
            </div>
            <div class="col-md-6 form-group">
              <label for="country">Country</label>
              <select class="form-control" name="country" id="address-cou" required>
                <option value="India">India</option>
              </select>
            </div>
            <div class="col-md-12 text-center mt-4">
              <button type="submit" id="submit-button">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
